body{
    text-align: center;
    background-size: cover;
   

}
.head{
    margin:0;
    width: 100%;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.img{
    width: 150px;
    border-radius: 100px;

}

.div_speed{
    float:left;
}
.div_volume{

    float:right;
}

.note{
    font-size: 20px;
}

.buttons{
    font-size: 20px;

}

.song_name{
    margin:0;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 100px;
}